* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
  margin-bottom: -75px;
}
nav {
  flex: 1;
  text-align: right;
}
nav ul {
  display: inline-block;
}
nav ul li {
  display: inline-block;
  margin-right: 20px;
}
a {
  text-decoration: none;
  color: #555;
}
p {
  color: #555;
}
.box {
  display: inline-block;
  width: 220px;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 55px;
}
.Products {
  text-align: center;
  margin-top: 100px;
}
h1 {
  text-decoration: underline;
}
.container {
}
body {
  background-color: #d7dbdd;
}
.india {
  margin-left: 10px;
}

.about {
  margin-top: 20px;
}

.best {
  margin-top: 25px;
}

.contact {
  background-color: black;
  color: white;
}

.insta:hover {
  color: white;
  cursor: pointer;
}
